name: jobs-workflow

on:
  workflow_dispatch:
    inputs:
      environment:
        description: "Choose environment"
        required: true
        default: "staging"
        type: choice
        options:
          - staging
          - production

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Run tests
        run: echo "Running tests in the ${{ github.job }} job for the ${{ inputs.environment }} environment."

  build:
    runs-on: ubuntu-latest
    needs: test
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Build application
        run: echo "Building the application in the ${{ github.job }} job for the ${{ inputs.environment }} environment."

  deploy:
    runs-on: ubuntu-latest
    needs: test
    steps:
      - name: Deploy application
        run: echo "Application deployment succeeded for the ${{ github.job }} job in the ${{ inputs.environment }} environment."

  notify:
    runs-on: ubuntu-latest
    needs: [build, deploy]
    steps:
      - name: Notify completion
        run: echo "Build and deploy jobs have completed successfully for the ${{ github.job }} job in the ${{ inputs.environment }} environment."