name: first workflow
on:
  push:
    branches:
      - main
jobs:
    first-build-workflow:
        runs-on: ubuntu-latest
        steps:

        - name: Say Hello
          run: echo "Hello, World!"
        - name: Check out repository code
          uses: actions/checkout@v4  
        - name: list repo files
          run: ls -la