name: manuel-workflow
on:
  workflow_dispatch:
    inputs:
      environment:
        description: "choose environment"
        required: true
        default: "staging"
        type: choice
        options:
          - staging
          - production  
jobs:
    manual-build-job:
        runs-on: ubuntu-latest
        steps:
        - name: Say Hello from manual job
          run: echo "Hello from manual job!"