name: pushing workflow
on:
  push:
    branches:
      - main
    paths:
      - ".github/workflows/**.yml"
   
  pull_request:
    branches:
      - main    

jobs:
  test:
    runs-on: ubuntu-latest
    steps:

    - name: Check out repository code
      uses: actions/checkout@v4
      
    - name: run test
      run: npm test    

   
      
